*{
  margin: 0;
  padding: 0
}
body{
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  color: rgba(28,54,83,.6);
}
header .fondo1{
  position: absolute;
  width: 100%;
  height: 700px;
}
.brand-logo{
  left: 175px;
}
header ul{
  margin-right: 750px;
  transition: all .3s ease-in-out;
}
header div{
  top: 35px;
}
header ul li a{
  font-size: 12px;
}
header ul li a:hover{
  color: #FF5274;
}
header nav{
  background-color: #333;
}
.login{
  position: absolute;
  top: 60px;
  right: 330px;
  color: white;
}
.login:hover{
  color: #FF5274;

}
.sigup{
  position: absolute;
  top: 50px;
  right: 150px;
  padding:8px 40px;
  display: inline-block;
  color: white;
  border: 2px solid #fff;
  border-radius: 40px;
  box-sizing: border-box;
}
.sigup:hover{
  color:  #FF5274;
  border: 2px solid #FF5274;

}
